body{
	font-family: 'Source Sans Pro', sans-serif;
}

.row{
	max-width: 100%;
}
.menu > li > a {
	padding: 0.7rem 0.5rem;
}

.top-bar{
     padding: 0.5rem;
     margin-bottom: 1rem;
}

@media print, screen and (min-width: 0em){
	.pagination li {
	    display: inline-block;
	}
}

.pagination .current {
    background: #767676;
    color: white;
}

table {
 	 border: 1px solid #ccc;
	 border-collapse: collapse;
	 margin: 0;
	 padding: 0;
	 table-layout: fixed;
	 width: 100%;
	 text-align: center
}
table tr {
	  background: #e6e6e6;
	  padding: .35em
	  text-align: center;
}
table th, table td {
	  padding: .625em;
	  border: 2px solid #CCCCCC;
      text-align: center;
}

table thead th{
    text-align: center;
    background: #e6e6e6;
}

@media screen and (max-width: 700px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    min-height: 45px;
  }
  table td:before {
    content: attr(data-label);
    float: left;
  }
}


.stats-list {
  list-style-type: none;
  clear: left;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.stats-list .stats-list-positive {
  color: #3adb76;
}

.stats-list .stats-list-negative {
  color: #cc4b37;
}

.stats-list > li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #cacaca;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.stats-list > li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.stats-list > li .stats-list-label {
  display: block;
  margin-top: 2px;
  font-size: 0.9em;
  font-weight: normal;
}


.dashboard-number-card {
  background: #fff;
  border-radius: 5px;
  margin: 0 20px 20px;
  position: relative;
}

.dashboard-number-card .dashboard-number-delta {
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  bottom: 6px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  opacity: 0.7;
  position: absolute;
  right: 6px;
  color: #1779ba;
}

.dashboard-number-card .dashboard-number-delta i {
  margin-right: 5px;
  width: 0.6rem;
}

.dashboard-number-card.positive .dashboard-number-delta, .dashboard-number-card.negative .dashboard-number-delta {
  color: #fefefe;
}

.dashboard-number-card.positive .dashboard-number-value,
.dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-value,
.dashboard-number-card.negative .dashboard-number-area {
  color: white;
}

.dashboard-number-card.positive {
  background: #3adb76;
}

.dashboard-number-card.negative {
  background: #cc4b37;
}

.dashboard-number-value {
  color: #1779ba;
  font-size: 22px;
  font-weight: 800;
  padding: 1rem 2rem 1.75rem;
  text-align: center;
}

.dashboard-number-area {
  bottom: 6px;
  color: #1779ba;
  font-size: 12px;
  left: 6px;
  margin-bottom: 0;
  position: absolute;
}
